body {
  color: _palette(base, fg);
  font-family: _font(base, family);
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: _font(heading, family);
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: ms(2);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: _palette(interact, action);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade(_palette(interact, action), 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $small-spacing 0;
}