doctype html
html
  include _common/_head
  body
    .maincontent-new-new
      block content
    // build:js js/plugins.min.js
    script(src='../../js/jquery.js')
    script(src='../../js/jquery.cover.js')
    // endbuild