doctype html
html
  include _common/_head
  body
    .maincontent-new-new
      block content
    // build:js js/plugins.main.min.js
    script(src='../../bower_components/jquery/dist/jquery.js')
    script(src='../../bower_components/svg4everybody/dist/svg4everybody.js')
    // endbuild