@import "../../../vendor/neat/app/assets/stylesheets/_neat-helpers";

// Overrides Neat's default
$max-width: em(1024);

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

$visual-grid-color: lighten(#FFF0E8, 3%);


// Font.
$font: (
        body : (
                family:       (Arial, Helvetica, sans-serif),
                weight:       normal,
                weight-bold:  bold
        ),

        headlines : (
                family:         (Raleway),
                weight:         bold,
                weight-bold:    bold
        ),

        decorative: (
                family:         (Arial, Helvetica, sans-serif),
                weight:         normal,
                weight-bold:    bold
        ),

        iconic: (
                family:         FontAwesome,
                style:          normal,
                weight:         normal
        ),

        mono : (
                family:         ('Courier New', monospace),
                weight:         normal,
                weight-bold:    bold
        )
);