extends ../main

block title
  | CRADLE example layouts

block content
  section
    form
      label(for="input") Email
      input#inputEmail(type="text", placeholder="Email")
      input#inputEmail(type="text", placeholder="Email")
      input#inputEmail(type="text", placeholder="Email")