// Color Palettes

$palette: (
  // Base page colors
  base: (
    primary: #EA4E5B,
    secondary: #BED3C3,
    accent: #E1E3E4,
    fg: #191919,
    bg: lighten(#EEEFF1, 2%),
  ),

  // Interact colors
  interact: (
    action: #707c9e,
    error: #EA4E5B,
    success: #9ace7d,
    warning: yellow
  ),

  // Notice colors
  notice: (
    base: #ffffff,
    accent: #EA4E5B
  ),

  // Neutral colors (borders, inactive elements, etc)
  neutrals: (
    x-dark: #07030e,
    dark: #3c434b,
    mid-dark: darken(#c1c2c7, 10%),
    base: #c1c2c7,
    mid-light: darken(#E5E7EA, 7%),
    light: #E5E7EA,
    x-light: #ffffff,
  ),
);