// Color variables
$color-aqua: #35bcc2;
$color-green: green;
$color-red: red;
$color-orange: #f9a51b;

// Color Palettes
$palette: (
  base: (
    primary			: $color-aqua,
    secondary		: $color-orange,
    fg: #191919,
    bg: #ffffff
  ),

  interact: (
    action: $color-aqua,
    success: $color-green,
    error: $color-red
  ),

	// Neutral colors (borders, inactive elements, etc)
  neutrals: (
    x-dark		: #242529,
    dark			: #42454C,
    mid-dark	: #717580,
    mid-light	: #B0B4BD,
    light			: #C7CAD1,
    x-light		: #EFF1F2,
	),
);