// Breakpoints.
@import "breakpoints";

// Font.
@import "fonts";

// Colors.
@import "colors";

// Sizes.
@import "size";

// Modular Scale
$modular-scale-ratio: $major-third;
$modular-scale-base: 1em;

/* Boilerplate variables */
// Fonts.
$base-font-size: 16px;
$small-font-size: 13px;
$x-small-font-size: 10px;
$base-line-height: 24px;

// Dimensions.
$small-spacing: $base-line-height / 2;
$body-offset: 12px;


// Header 
$header-height: $base-line-height * 2;
$header-submenu-width: 320px;

$avatar-side-length: 50px;

// Borders.
$base-border-radius: 3px;
$base-border: 1px solid _palette(neutrals, light);
$light-border: 1px solid lighten(_palette(neutrals, light), 5%);
$base-border-transparent: 1px solid rgba(_palette(neutrals, dark), .5);
$light-border-transparent: 1px solid rgba(_palette(neutrals, dark), .1);

// Shadows.
$base-shadow: 0 2px 3px rgba(_palette(neutrals, dark), .1);
$big-shadow: 0 2px 15px rgba(_palette(neutrals, dark), .1);
$small-shadow: 0 1px 2px rgba(_palette(neutrals, dark), .2);
$light-shadow: 0 2px 4px rgba(_palette(neutrals, dark), .2);
$base-text-shadow: 0 1px 0 rgba(_palette(neutrals, x-dark), .4);

// Custom blocks
$activity-feed-width: 300px;

// Animation.
$base-duration: 180ms;
$base-timing: ease-in-out;
$base-transition: all $base-duration $base-timing;
